p{
    background-color: blueviolet;
    color: rgb(255, 0, 0);
}
#p1{
    background-color: blueviolet;
    text-align: center;
    color:rgb(255, 179, 80);
}
.c1 {
    background-color: aquamarine;
    text-align:center;
    color:rgb(12, 7, 1);
}
div {
    width: 100px;
    height: 200px;
    background-color: lawngreen;
    opacity: 0.9;
}

.dc1 {

    width: 100px;
    height: 200px;
    background-color: rgb(198, 79, 39);
    opacity: 0.8;

}

#d1 {
    border-style:dotted;
    width: 600px;
    border-color: coral;
    border-radius: 30%;
    padding-top: 60px;
    padding-left: 600px;
    margin-top: 400px;
    
    

}